<p id="notice"><%= notice %></p>

<table class="table table-striped" style="width: 90%;">
  <tr class="headers">
    <th>&nbsp;</th>
    <th>Product</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <!-- Iterate through products table for data -->
  <% Product.all.each do |product| %>
    <tr id="<%= product.id %>" class="product_row">
      <td>
        <% if product.image.blank? %>
          <% product_image = 'japanese_beef.png' %>
        <% else %>
          <% product_image = product.image %>
        <% end %>
        <img src="<%= asset_path product_image %>" style="max-width: 90px; max-height: 90px;"/>
      </td>
      <td style="vertical-align: middle; font-size: 16pt;"><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency product.price %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3"></td>
    <td>
      <button class="btn btn-success" style="vertical-align: bottom;">
        Add
      </button>
    </td>
  </tr>
</table>